*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    background-color: rgb(18, 132, 29);
    font-family: "Poppins",sans-serif;

}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(239, 231, 74),rgb(255, 192, 23));
    clip-path: circle(20% at right 80%);
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(239, 231, 74),rgb(255, 192, 23));
    clip-path: circle(35% at left 15%);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 700px;
    z-index: 1;
}
.card{
    position: relative;
    width: 90%;
    padding: 1.5rem;
    margin: 2.5rem 0px;
    background: rgb(0, 0,0,0.1);
    box-shadow: 1.5rem 1.5rem 2.5rem rgb(0, 0,0,0.1);
    color: floralwhite;
    border-radius: 6px;
}
.card-header{
    display: flex;
    align-items: center;
    padding: 1rem 0px;
    border-bottom: 0.2rem solid rgb(255, 192, 23);
}
.card-header i{
    margin-left: auto;
    cursor: pointer;
    
}
.card-body{
    padding: 0.8rem 0px;
    height: 500px;
    overflow-x: scroll;
}
.todo-list{
    list-style: none;
}
.todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.6rem;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 0.4rem;
}
.todo-item li{
    flex-grow: 1;
    font-size: 1.3rem;
    cursor: default;
}
.todo-item i{
    font-size: 1.5rem;
    margin: 0px 0.4rem;
    cursor: pointer;
}
.card-footer{
    padding: 1rem 0rem;
    display: flex;
}
.card-footer input{
    width: 100%;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    padding: 0.45rem 0.8rem;
    background-color: rgb(255, 255, 255, 0.45);
    border-radius: 5px 0px 0px 5px;
}

.card-footer input:focus,.card-footer button:focus{
    outline: 0;
}
.card-footer button{
    background-color: rgb(255, 192, 23);
    color: #fff;
    font-size: 1rem;
    border: 0;
    width: 5rem;
    border-radius: 0px 5px 5px 0px;
}
.card-footer button:hover{
    background-color: rgb(255, 211, 91);
}
.todo{
    display: flex;
}
.done{
    background-color: rgb(8, 52, 12);
}